

#avatar {
	width: 100%;
}
#avatar img {
	width: 100%;

}

#empty_pic {
	width: 150px;
	height: 150px;
}
.wall {
	border: 1px solid grey;
	overflow: hidden;

}
.title {
	background: grey;
	padding: 2%;
}
.wall_describe {
	margin: 1%;
}
.wall_picture {
	height: 150px;
	width: 150px;
}
.clear {
	clear: both;
}
.link_view {
	background: silver;
	float: left;
	padding: 10px 20px;
}

.cabinet_links {
	display: block;
	float: left;
	margin: 0;
	padding: 10px 20px;
	
	text-align: center;

}
.cabinet_links:hover {
	background: #ddd;
}

.panel-heading {
	padding: 0px;
	overflow: hidden;
}

#app-layout {
	background: url("/media/uploads/account_fon/1/1.jpg");
	background-size: cover;
}

.cabinet_sidebar {
	float: left;

}
.cabinet_sidebar a {
	display: block;
	margin-top: 5px;
}

.service {
	border-top: 1px solid silver;
}



.cabinet_center h3{
	background: silver;
	font-size: 1.5em;
	padding: 1%;
}

#name {
	border: 1px solid silver;
}

#name p {
	background: silver;
	padding: 1% 2%;
	text-align: center;
	margin: 0;
}

.service_info {
	font-size: 0.7em;
	text-align: left;
	padding: 1%;
}

.service_info p {
	background: white!important;
	text-align: left!important;
}

#event {
	float: left;
	padding: 2%;
	background: #eee;

}

#event p {
	font-size: 1.3em;
	font-weight: bold;
}

.right_bread {
	float: right;
	padding: 10px;
}
.right_bread a {
	color: #999;
	text-align: center;
	padding: 0px 10px;
}
.right_bread a:hover {
	color: black;
}

#themes {
	border: 0px solid black;
	margin-top: 50px;
	width: 100%;
}
#themes a {
	color: blue;
	display: block;
	padding: 2%;
}

#themes a:hover {
	color: black;
	text-decoration: none;
}

.grey {
	background: #ddd;

}

.new_theme {
	background: #ddd;
	border: 0px solid brown;
	border-radius: 5px;
	display: block;
	float: left;
	padding: 1%;
	color: blue;

}
.new_theme:hover {
	background: #aaa;
	color: black;
	text-decoration: none;
}

#themes tr {
	height: 40px;
}

#first_string {
	background: lightblue;
	height: 60px !important;
	text-align: center;
}

#themes_submit {
	margin-left:8px;
	float: left;

}

textarea {
	margin: 10px 0px;
	width: 65%;
}

#theme_desc {
	font-size: 1em;
	font-weight: bold;
	margin: 10px 20px ;
}
.form_content {
	
}

.content_article {
	margin-top: 50px;
}
.clear {
	clear:both;
}

#contents_submit {
	margin-top: 20px;
}

#one_theme {
	border: 1px solid #ddd;
	font-family: 'comic sans ms';
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.one_theme_name {
	background: #ddd;
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
	padding: 2%;

}

#one_theme_description {
	color: #333;
	
	padding: 20px;
}

#leave_comment {
	font-size: 1.4em;
	margin: 20px 0px 20px 10px;
}

.options {
	float: right;
	
	
	
}

.options {
	
	height: 20px;
	margin: 5px;
	width: 20px;
}

#comment_block {
	background: #eee;
	border: 1px solid #ddd;
	margin-top: 10px;
	overflow: hidden;
	

}

#user_info {
	border-right: 1px solid #ddd;
	padding: 1px;
}

#user_info p {
	background: #999;
	padding: 3px;
	color: #333;
	margin: 0;
	text-align: center;
}

#comment_body {
	color: #333;
	font-size: 1.1em;
	font-family: 'comic sans ms';
	padding: 0;
	
}

.post_number {
	background: lightblue;
	font-size: 1em;
	margin: 0;
	padding: 10px;
	
}

#comment {
	padding: 10px 10px;
	margin: 0px;
	overflow: hidden;
}